@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@200&family=Playpen+Sans:wght@400;800&family=Poppins:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400&family=Open+Sans:wght@300&family=Oswald:wght@200&family=Playpen+Sans:wght@100;400&family=Poppins:ital,wght@1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(24, 19, 19);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #21222A;
    width: 300px;
    height: 650px;
    margin-top: 10%;
    border: 5px solid whitesmoke;
}

.image > img {
    width: 100%;
    height: 300px;
}

.name {
    text-align: center;
    color: whitesmoke;
    padding: 5px; 
}

.name > h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    user-select: none;
}

.name > h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contacts {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.email > i, .linkedin > i {
    width: 100px;
    padding: 5px;
    font-size: 18px;
}

.email {
    background-color: whitesmoke;
    border: transparent;
}

.linkedin {
    background-color: #0077B5;
    color: whitesmoke;
    border: transparent;
}

.about {
    color: white;
    padding: 0px 25px;
    margin-top: 40px;
}

.about >  h3 {
    margin-bottom: 5px;
    font-family: 'Playpen Sans', cursive;
}

.about > p {
    font-family: 'Lora', sans-serif;
    font-style: italic;
}

.social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.social > a {
    color: whitesmoke;
    padding: 5px;
    text-align: center;
    height: 30px;
    width: 30px;
    font-size: 20px;
    border-radius: 50%;
}

.twitter {
    background-color: #1DA1F2;
}

.facebook {
    background-color: #3b5998;
}

.instagram {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

@media (min-width: 900px) and (max-width: 3000px) {
    .card:hover {
        transform: rotate(270deg);
        transition: 2.2s;
        width: 400px;
        height: 700px;
    }
    
    .card:hover > .image > img {
        transform: rotate(90deg);
        height: 250px;
        width: 250px;
        margin-left: 141px;
        transition: 3s;
    }  
    
    .card:hover > .name {
        transition: 1s;
        transform: rotate(90deg);
        margin: -150px 225px 150px 0px;
    }
    
    .card:hover > .contacts, .card:hover > .about, .card:hover > .social {
        transform: rotate(90deg);
    }
    
    .card:hover > .contacts {
        margin-top: 280px;
        transition: 2s;
    }
    
    .card:hover > .about {
        transition: 1.5s;
        margin: 0px -150px 0px 0px;
    }
    
    .card:hover > .about > p {
        width: 400px;
    }
    
    .card:hover > .social {
        margin-right: 300px;
        margin-top: -120px;
        transition: 2s;
    }
    
    .card:hover > .social > a {
        margin-left: 50px;
        font-size: 22px;
        height: 35px;   
    }    
}

